{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет PostList -->
{% block title %}
{% endblock title %}
 
<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Блог о Битрикс24</h1>
<br>
    {% if postlist %}
        {% for post in postlist %}
            <h4><b>{{ post.post_title|censor }}</b></h4>
            {{ post.date_create|date:'d.m.Y h:m:s' }}<br>
            {{ post.text|truncatechars:20|censor }}<br>
            <hr>
        {% endfor %}
    {% else %}
        <h2>Статей нет!</h2>
   {% endif %}
Дата и время: {% current_time '%d.%m.%Y %H:%M' %}
{% endblock content %}